 /* Syles for the nav bar */
 nav {
    background-color: #284D73;
}
nav a, nav span {
    color: #F2C3AA
}
nav a:hover{
    background-color: #96F9F7;
}
nav {
    padding: 10px;
}
nav {
    margin-bottom: 30px;
}
@media only screen and (max-width: 600px) {
    nav a{
        width: 100%; 
        display: block;
    }
    nav span{
        display: none;
    }
}
@media only screen and (min-width: 601px) {

}

/* Styles for all pages */
body {
    background-color: #ddddff; 
    color: #433650;
}
p {
    color: #433650;
}
a {
    color: #f07dea
}
h1, h2 {
    color: #5962F7
}

/* mobile design for index page */
.header_image {
    max-width: 100%;
}

/* This is just for the footer of index page */
.motto {
    float: right;
}

/* The next few lines are for the contact page */
.row1, .row2 {
    display: flex;  
    background-color: #333333;
    color: #c19ce9; 
    border-radius: 1.5em; 
    padding: 20px; 
    margin: 25px;
}
.row2 {
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap;
}
.r1c1, .r1c2, .r2c1, .r2c2 {
    margin: 10px;
}
.r1c1 p{
    color: #c19ce9;
}
h1{
    text-align: center;
}

/* Next few lines for the skills page */
.icon{
    width: 1.5em;
}
.skillscol1{
    display: flex; 
    flex: 3; 
    justify-content: space-around; 
    align-items: center;
}
.skillscol2{
    display: flex; 
    background-color: #333333; 
    color: #c19ce9; 
    border-radius: 1.5em; 
    flex: 1; 
    padding: 2em;
}
.skillsoutterflex{
    display: flex;
}
.intro, .skillsoutterflex{
    margin: 3em;
}
.h2{
    text-align: left;
}
.introflex{
    display: flex
}
.introflexrow{
    flex: 3
}
.empty{
    flex: 1
}
#ischoollink{
    color:#b130aa;
}

/* Skip to Content button */
#skip{
    background-color: #333333;
    color: #c19ce9;
    border: 1px solid #000000;
    padding: 2px;
    position: absolute; /* out of page flow for layout */
    left: -999px;
}
#skip:focus{
    left: 10px;
    top: 10px;
}
