body {background-color: #333333; color: #c19ce9;}
p {color: #c19ce9;}
a {color: #f07dea}
h1, h2 {color: #5962F7}
nav {background-color: #284D73;}
nav a {color: #F2C3AA}
nav a:hover{background-color: #96F9F7;}
nav {padding: 10px;}
nav {margin-bottom: 30px;}
