/* Styles for every page */
body {
    background-image: image("images/background.jpg");
    color: #dddddd;
}

/* making the nav bar centered */ 
.navigation {
    display: flex;
    justify-content: center;
    background-color: ;
}

/* index page styles */
.floatright {
    float: right;
    margin: 20px;
}
.floatleft {
    float: left;
    margin: 20px;
}

/* garden and harrington styles */
.gardenrow1, .harrrow1{
    display: flex;
}