body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

h1, h2 {color: aqua;}

.evenrow {background-color: lightgray;}

h1 {font-size: 3.5em;}

h2 {font-size: 2em;}
